th img{
    width: 10rem;
    height: 10rem;
}
div,th{
    border: none;
}
th img{
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.arrowback:hover{
    cursor: pointer;
}
.show-list:hover{
    cursor: pointer;
}
.table thead th {
    vertical-align: unset;
    border-bottom: none;
}

.list{
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    border-radius: 8px;
}