<div class="container mb-4">
  <div class="row mt-4">
    <a (click)="Back()"><img src="./../../assets/Back.svg" class="arrowback"></a>&nbsp;&nbsp;
    <p style="font-family: Montserrat, Semi Bold;font-size: 20px;">{{topicTitle}}</p>
  </div>

  <div class="main">
    <div class="col form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" id="searchbook" #searchbook on-keyup="searchBooks(searchbook.value)"
        placeholder="Search">
    </div>
  </div>

  <table class="table" class="pb-5" id="bookTable">
    <thead>
      <tr class="row mt-3">
        <div *ngFor="let allBook of Books" class="col-md-2 mb-4 list">
          <div *ngFor="let bookResult of allBook.formats | keyvalue">
            <div on-click="seePreview(allBook)">
              <th class="show-list" scope="col-md-12" *ngIf="bookResult.key == 'image/jpeg'"><img class="img-fluid"
                  src="{{bookResult.value}}">
                <br>
              </th>
            </div>
          </div>
          <div class="row">
          <div *ngFor="let bookAuthor of allBook.authors" class="col-md-12">
            <div *ngFor="let bookAuthorRes of bookAuthor | keyvalue" class="col-md-12">
              <div on-click="seePreview(allBook)">
              <th class="show-list"  scope="col-md-12" *ngIf="bookAuthorRes.key == 'name'">{{allBook.title}}<br>
                <p style="font-family: Montserrat, Regular;font-size: 12px;font-weight: bold;">{{bookAuthorRes.value}}
                </p>
              </th>
            </div>
            </div>
          </div>
        </div>
        </div>
      </tr>
    </thead>
  </table>